.page {
    position: relative;
    height: 100vh;
    padding: 3em 0;
    box-sizing: border-box;
}

.page > h1,
.page > span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    
    white-space: nowrap;
    font-size: 3em;
    font-weight: 900;
}

.page > h1 {
    width: 750px;
    color: white;
    font-size: 5em;
    font-variant: small-caps;
}

.page > h2 {
    text-align: center;
    margin-bottom: 1em;

    font-size: 3em;
    font-weight: 900;
}

.page > p {
    width: 1080px;
    margin: 0 auto;
    line-height: 2;
}

.page:first-child {
    background: url("../img/code_bg.jpg") no-repeat center / cover;
}

/* 슬라이드 */
#slide {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

#slide > ul {
    width: calc(300% / 2);
}

#slide > ul::after { content: ""; display: block; clear: both; }

#slide > ul > li {
    position: relative;
    float: left;
    width: 20%;
    margin: 0 10px;
    box-sizing: border-box;
    overflow: hidden;;
}

#slide > ul > li > img {
    display: block;
    width: 100%;
    transition-duration: 400ms;
}

#slide > ul > li > .textBox {
    display: none;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#slide > ul > li > .textBox > h3 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    white-space: nowrap;
    color: white;   
}

#slide > ul > li:hover > img {
    transform: scale(1.2);
}

#slide > ul > li:hover > .textBox {
    display: block;
}

#slide > button {
    position: absolute;
    top: 0; bottom: 0;
    width: 10%;
    cursor: pointer;
    opacity: 0.6;

    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
}

#next {
    left: 0;
    background: url("https://i.imgur.com/DBK27Kx.png") no-repeat left center;
}

#prev {
    right: 0;
    background: url("https://i.imgur.com/pw4Yfrt.png") no-repeat right center;
}

#next:hover,
#prev:hover {
    opacity: 1;
}

#next > span,
#prev > span {
    display: none;
}